/* index.css
Creator: Eric Hepperle
Date Created: 05/02/22
*/

:root {
  /* COLORS */
  --cultured: #EEEEEE;
  --davysGrey: #595959;
  --spanishGray: #999999;
  --lightGray: #D2D2D2;
  --brightPumpkin: #ff9901;
  --lt-manila: #ffffe5;

  --rad: .4rem;
}

input.form-control:focus,
textarea.form-control:focus {
  background: var(--lt-manila);
}

#loading, #results {
  display: none;
}

.date-long,
.date-dow-long {
  color: green;
}

#current-entry-date,
#current-entry-time,
#current-entry-tz {
  color: yellow;
  font-weight: bold;
}

.result-item {
  /* background: lightgray; */
  color: white;
  /* border: solid 1px black; */
  padding: 12px;
}

.result-item .row,
.result-item .col {
  text-align: left;
}

.result-item [class*="col"]:first-of-type {
  min-height: 3rem;
  /* background: orange; */
}

.result-item>.row>.col:first-of-type {
  border-radius: var(--rad) 0 0 var(--rad);
  background: var(--spanishGray);
  padding-top: 1rem;
  /* min-width: 140px; */
}

.result-item>.row>.col>.row:first-of-type>.col {
  border-radius: 0 var(--rad) 0 0;
  background: var(--davysGrey);
  display: flex;
  align-items: center;
  font-weight: 700;
  color: var(--brightPumpkin);
}

.result-item>.row>.col>.row:nth-of-type(2)>.col {
  border-radius: 0 0 var(--rad) 0;
  color: var(--davysGrey);
  padding-top: 1rem;
  border: var(--spanishGray) solid;
  border-width: 0 1px 1px 0;
}